@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

.today-day {
    width: fit-content;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 5%;
    background-color: aquamarine;
    outline: none;
}

.main-menu {
    font-family: 'Otomanopee One', sans-serif;
}

.menu-block {
    margin-top: 5%;
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.MuiTableHead-root {
    background-color: rgb(247, 190, 85);
    border-radius: 10px;
}

.MuiToolbar-root {
    background-color: rgb(247, 190, 85);
    box-shadow: 0 5px 6px 0px #5f0b0b;
    margin-bottom: 2px;
    border-radius: 10px 10px 0 0;
}

// .MuiPaper-root {
//     // border-radius: 20px !important;
//     background-color: rgb(212, 201, 186);
// }