.choise-food {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
}

.switch-button {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}